@model IEnumerable<RoadEventsProject.DAL.Entities.RoadEvent>

@{
    ViewData["Title"] = "MyApplication";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            margin: 0;
        }

        .left-column {
            margin: 0;
            float: left;
            width: 20%;
            height: 95vh;
            overflow-y: auto;
            background-color: black;
            color: white;
        }

        .right-column {
            margin: 0;
            float: left;
            width: 60%;
            height: 95vh;
            color: black;
        }

            /* Additional styles to ensure scroll stays within the column */
            .right-column .squareBlock {
                height: calc(100% - 100px); /* Adjust as needed */
                overflow-y: auto;
            }


                ::-webkit-scrollbar {
            width: 10px; /* Adjust as needed */
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1; /* Light grey */
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888; /* Dark grey */
        }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #555; /* Blackish grey */
            }

        .column-title {
            font-size: 24px;
            font-weight: bold;
        }


        .divider {
            height: 0.5px;
            width: 80%;
            background-color: white;
            margin: 15px;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .btn {
            display: block;
            margin-bottom: 2px;
            margin-left: 2px;
        }

        .aspforms {
            font-size: 16px;
            font-weight: bold;
            color: #919191;
            text-align: left;
        }

        .squareBlock {
            background-color: rgb(217, 217, 217);
            display: block;
            padding: 10px;
            margin: 0;
            border-radius: 15px;
            backdrop-filter: blur(10px);
        }

        .text-blue {
            color: white;
            text-shadow: 2px 2px 2px black, 0 2px 2px black, -2px 0 2px black, 0 -2px 2px black; /* Встановлює білу обводку тексту */
        }

        .squareBlockText {
            background-color: rgb(217, 217, 217);
            display: block;
            padding: 10px;
            margin: 0;
            border-radius: 15px;
            backdrop-filter: blur(10px);
            width: 40%;
        }

        .text-border {
            font-size: 14px;
            color: white;
            text-shadow: 1px 1px 1px black, 0 1px 1px black, -1px 0 1px black, 0 -1px 1px black; /* Встановлює білу обводку тексту */
        }
    </style>
</head>
<body style="background: url('/images/16.jpg');background-size: 100% 100%;">
    <div class="left-column">
        <div style="padding-left:25px; font-size:24px; color:white; font-weight:bold; margin-top:30px;">
            <p style="color:black">Заголовок</p>
        </div>

        <div class="divider"></div>
        <a asp-area="" asp-controller="Profile" asp-action="MainView" class="btn aspforms">ГОЛОВНА</a>
        <div class="divider"></div>
        <a asp-area="" asp-controller="Profile" asp-action="MyProfile" class="btn aspforms">МІЙ ПРОФІЛЬ</a>
        <div class="divider"></div>
        <a asp-area="" asp-controller="Profile" asp-action="FillInApplication" class="aspforms btn">ЗАПОВНИТИ ЗАЯВКУ</a>
        <div class="divider"></div>
        <a asp-area="" asp-controller="Profile" asp-action="MyApplication" class="aspforms btn">ВСІ ЗАЯВИ</a>
        <div class="divider"></div>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="aspforms btn">ВИХІД</a>
    </div>
    <div class="right-column" style="margin-left:10%">
        <div class="squareBlockText" style="text-align:center; margin-top:15px; width: 100%; ">
            <form asp-action="MyApplication" method="get" style="display: flex;">
                <select name="idstatus" style="margin-right: 10px;">
                    <option value="0">Всі</option>
                    <option value="1">Необроблені</option>
                    <option value="2">Підтверджені</option>
                    <option value="3">Відхилені</option>
                </select>
                <div style="margin-right: 10px;">
                    <input type="date" name="date" placeholder="Enter Date" />
                    <span class="text-danger">
                        @Html.ValidationMessage("iddateError", new { @class = "text-danger" })
                    </span>
                </div>
                <button type="submit">Пошук</button>
            </form>
        </div>
         
        <div class="squareBlock" style="margin-top:10px">
        <p style="text-align:center; font-weight:bold; font-size:20px">Мої заяви</p>
        <div style="height: 75%; overflow-y: auto;">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <p>Статус заяви</p>
                        </th>
                        <th>
                            <p>Дата</p>
                        </th>
                        <th>
                            <p>Деталі</p>
                        </th>
                        <th>
                            <p>Місце події</p>
                        </th>
                        <th>
                            <p>Зображення</p>
                        </th>
                        <th>
                            <p>Відео</p>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdStatusNavigation.NameStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateEvent)
                            </td>
                            <td>
                                <div style="width: 200px; word-wrap: break-word;">
                                    @Html.DisplayFor(modelItem => item.DescriptionEvent)
                                </div>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdCityVillageNavigation.NameCityVillage)
                            </td>
                            <td>
                                @if (item.IdImage != null)
                                {
                                    <img width="80" height="60" src="@Html.DisplayFor(modelItem => item.IdImageNavigation.ImageUrl)" alt="Фото">
                                }
                                else
                                {
                                    <p>-</p>
                                }
                            </td>

                            <td>
                                @if (item.IdVideo != null)
                                {
                                    <video width="80" height="60" controls>
                                        <source src="@Html.DisplayFor(modelItem => item.IdVideoNavigation.VideoUrl)" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                }
                                else
                                {
                                    <p>-</p>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        </div>
    </div>

    <div class="clearfix"></div>
</body>
</html>





