@model RoadEventsProject.Models.RegisterUserModel_

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            margin: 0;
        }
        /* Стилі для лівої (чорної) колонки */
        .left-column {
            margin: 0;
            float: left;
            width: 20%;
            height: 95vh; /* 100% висоти вікна браузера */
            background-color: black;
            color: white;
        }

        /* Стилі для правої (синьої) колонки */
        .right-column {
            margin: 0;
            float: left;
            width: 70%;
            height: 95vh;
            color: black;
        }

        /* Заголовок */
        .column-title {
            font-size: 24px;
            font-weight: bold;
        }

        /* Роздільник між елементами */
        .divider {
            height: 0.5px;
            width: 80%;
            background-color: white;
            margin: 15px;
        }

        /* Очистка float для правильного вирівнювання */
        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .btn {
            display: block;
            margin-bottom: 2px;
            margin-left: 2px;
        }

        .aspforms {
            font-size: 16px;
            font-weight: bold;
            color: #919191;
            text-align: left;
        }

        .square {
            display: inline-block;
            padding: 10px;
            margin: 0;
            border-radius: 15px;
        }

            .square h1 {
                color: white;
                margin: 0;
            }

        .button-container {
            height: 50px;
            width: 100px;
        }

        .custom-button {
            background-color: #071952;
            color: white;
            font-size: 16px;
        }

        .squareBlock {
            background-color: rgb(65,105,225,0.3);
            display: block;
            padding: 10px;
            margin: 0;
            border-radius: 15px;
            backdrop-filter: blur(10px);
        }

        .text-blue {
            color: white;
            text-shadow: 2px 2px 2px black, 0 2px 2px black, -2px 0 2px black, 0 -2px 2px black; /* Встановлює білу обводку тексту */
        }

        .squareBlockText {
            background-color: rgba(65, 105, 225, 0.3);
            display: block;
            padding: 10px;
            margin: 0;
            border-radius: 15px;
            backdrop-filter: blur(10px);
            width: 40%;
        }

        .text-border {
            font-size: 14px;
            color: white;
            text-shadow: 1px 1px 1px black, 0 1px 1px black, -1px 0 1px black, 0 -1px 1px black; /* Встановлює білу обводку тексту */
        }
    </style>
</head>
 <body style="background: url('/images/16.jpg');background-size: 100% 100%;">
    <div class="left-column">
        <div style="padding-left:25px; font-size:24px; color:white; font-weight:bold; margin-top:30px;">
            <p style="color:black">Заголовок</p>
        </div>

        <div class="divider"></div>
        <a asp-area="" asp-controller="Profile" asp-action="MainView" class="btn aspforms">ГОЛОВНА</a>
        <div class="divider"></div>
        <a asp-area="" asp-controller="Profile" asp-action="MyProfile" class="btn aspforms">МІЙ ПРОФІЛЬ</a>
        <div class="divider"></div>
        <a asp-area="" asp-controller="Profile" asp-action="FillInApplication" class="aspforms btn">ЗАПОВНИТИ ЗАЯВКУ</a>
        <div class="divider"></div>
        <a asp-area="" asp-controller="Profile" asp-action="MyApplication" class="aspforms btn">ВСІ ЗАЯВИ</a>
        <div class="divider"></div>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="aspforms btn">ВИХІД</a>
    </div>

    <div class="right-column">
        <div class="squareBlockText" style="text-align:center; margin-top:5%; width: 100%; ">
            <div class="text-center" style="margin-top:10px">
                <div>
                    <h1 class="content_style text-blue">Мій Профіль</h1>
                </div>
            </div>
        </div>
        <div class="squareBlock" style=" margin-left:28%; margin-top:3%; width:45%">

            <form asp-action="MyProfile" method="post" enctype="multipart/form-data" class="text-border">
                <div>
                    <p style="font-size:16px">Повне ім'я: @Model.LastName @Model.FirstName @Model.MiddleName</p>
                </div>

                <div class="form-group">
                    <label for="UserName">Логін:</label>
                    <input type="text" id="UserName" name="UserName" class="form-control" value="@Model.UserName">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary" style="text-align:center; margin-top:10px">Зберегти</button>
            </form>

            <div style="font-size:16px; font-weight:bold; margin-top:5%; background-color:rgb(204, 230, 255); border-radius: 8px;">
                <p style="text-align:center">Особиста статистика:</p>
                <p>Загальна кількість поданих заяв: @ViewBag.AllApp</p>
                <p>Кількість прийнятих заяв: @ViewBag.AcceptedRequests</p>
                <p>Кількість відхилених заяв: @ViewBag.RejectedRequests</p>
            </div>

        </div>
    </div>

    <div class="clearfix"></div>
</body>
</html>
