@model IEnumerable<RoadEventsProject.Models.Data.RoadEvent>

@{
    ViewData["Title"] = "AllApplications";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            margin: 0;
        }

        .left-column {
            margin: 0;
            float: left;
            width: 20%;
            height: 95vh;
            background-color: black;
            color: white;
        }

        .right-column {
            margin: 0;
            float: left;
            width: 77%;
            height: 95vh;
            background-color: white;
            color: black;
        }

        .column-title {
            font-size: 24px;
            font-weight: bold;
        }

        .divider {
            height: 0.5px;
            width: 80%;
            background-color: white;
            margin: 15px;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .btn {
            display: block;
            margin-bottom: 2px;
            margin-left: 2px;
        }

        .aspforms {
            font-size: 16px;
            font-weight: bold;
            color: #919191;
            text-align: left;
        }

    </style>
</head>
<body>
    <div class="left-column">
        <div style="padding-left:25px; font-size:24px; color:white; font-weight:bold; margin-top:30px;">
            <p>Панель</p>
            <p>Управління</p>
        </div>

        <div class="divider"></div>
        <a asp-area="" asp-controller="Admin" asp-action="MainView" class="btn aspforms">ГОЛОВНА</a>
        <div class="divider"></div>
        <a asp-area="" asp-controller="Admin" asp-action="AllApplications" class="btn aspforms">ВСІ ЗАЯВИ</a>
        <div class="divider"></div>
        <a asp-area="" asp-controller="Admin" asp-action="AllViolations" class="aspforms btn">ВСІ ПОРУШЕННЯ</a>
        <div class="divider"></div>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="aspforms btn">ВИХІД</a>
    </div>

    <div class="right-column" style="margin-left:2%">

        <p style="text-align:center; font-weight:bold">Мої заяви</p>
        <div style="height: 90%; overflow: auto;">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <p>Дата</p>
                        </th>
                        <th>
                            <p>Деталі</p>
                        </th>
                        <th>
                            <p>Область</p>
                        </th>
                        <th>
                            <p>Місто/Село</p>
                        </th>
                        <th>
                            <p>Зображення</p>
                        </th>
                        <th>
                            <p>Відео</p>
                        </th>
                        <th>
                            <p>Користувач</p>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateEvent)
                            </td>
                            <td>
                                <div style="width: 200px; word-wrap: break-word;">
                                    @Html.DisplayFor(modelItem => item.DescriptionEvent)
                                </div>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdCityVillageNavigation.IdRegionNavigation.NameRegion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdCityVillageNavigation.NameCityVillage)
                            </td>
                            <td>
                                @if (item.IdImage != null)
                                {
                                    <img src="@Html.DisplayFor(modelItem => item.IdImageNavigation.ImageUrl)" class="img" style="width:130px; height:100px;">
                                }
                                else
                                {
                                    <p>-</p>
                                }
                            </td>

                            <td>
                                @if (item.IdVideo != null)
                                {
                                    <video width="130" height="100" controls>
                                        <source src="@Html.DisplayFor(modelItem => item.IdVideoNavigation.VideoUrl)" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                }
                                else
                                {
                                    <p>-</p>
                                }
                            </td>
                            <td>
                                <a href="#" class="aspforms btn" onclick="showUserInfo(@item.IdUser)">Користувач</a>
                            </td>
                            <td>
                                @Html.ActionLink("Підтвердити", "CreateViolation", new{id=item.IdRoadEvent})
                                @Html.ActionLink("Відхилити", "RejectApplication", new{id=item.IdRoadEvent})
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>

    <div class="clearfix"></div>
</body>
</html>

<script>
    function showUserInfo(userId) {
        var url = '@Url.Action("SeeUser", "Admin")?user=' + userId;
        var width = 300;
        var height = 400;
        var left = (screen.width - width) / 2;
        var top = (screen.height - height) / 2;
        window.open(url, 'User Info', 'width=' + width + ',height=' + height + ',left=' + left + ',top=' + top);
    }
</script>

