@model IEnumerable<RoadEventsProject.Models.Data.RoadEvent>

@{
    ViewData["Title"] = "AllApplications";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            margin: 0;
        }

        .left-column {
            margin: 0;
            float: left;
            width: 20%;
            height: 95vh;
            overflow-y: auto;
            background-color: black;
            color: white;
        }

        .right-column {
            margin: 0;
            float: left;
            width: 77%;
            height: 95vh;
            background-color: white;
            color: black;
        }

        ::-webkit-scrollbar {
            width: 10px; /* Adjust as needed */
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1; /* Light grey */
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888; /* Dark grey */
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555; /* Blackish grey */
        }

        .column-title {
            font-size: 24px;
            font-weight: bold;
        }

        .divider {
            height: 0.5px;
            width: 80%;
            background-color: white;
            margin: 15px;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .btn {
            display: block;
            margin-bottom: 2px;
            margin-left: 2px;
        }

        .aspforms {
            font-size: 16px;
            font-weight: bold;
            color: #919191;
            text-align: left;
        }

        .tableborder {
            border: 1px solid #000;
        }

            .tableborder tr:nth-child(odd) {
                background-color: #d8ecf3; /* Голубий колір для парних рядків */
            }

            .tableborder tr:nth-child(even) {
                background-color: #ffffff; /* Білий колір для непарних рядків */
            }
    </style>
</head>
<body>
    <div class="left-column">
        <div style="padding-left:25px; font-size:24px; color:white; font-weight:bold; margin-top:30px;">
            <p>Панель</p>
            <p>Управління</p>
        </div>

        <div class="divider"></div>
        <a asp-area="" asp-controller="Admin" asp-action="MainView" class="btn aspforms">ГОЛОВНА</a>
        <div class="divider"></div>
        <a asp-area="" asp-controller="Admin" asp-action="AllApplications" class="btn aspforms">ВСІ ЗАЯВИ</a>
        <div class="divider"></div>
        <a asp-area="" asp-controller="Admin" asp-action="AllViolations" class="aspforms btn">ВСІ ПОРУШЕННЯ</a>
        <div class="divider"></div>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="aspforms btn">ВИХІД</a>
    </div>

    <div class="right-column" style="margin-left:2%">
        <div style="margin-top:10px">
            <form asp-action="AllApplications" method="get">
                <select name="idstatus">
                    <option value="0">Всі</option>
                    <option value="1">Необроблені</option>
                    <option value="2">Підтверджені</option>
                    <option value="3">Відхилені</option>
                </select>
                <div>
                <input type="number" name="idUser" placeholder="Enter User ID" />
                <span class="text-danger">
                    @Html.ValidationMessage("idUserError", new { @class = "text-danger" })
                </span>
                </div>
                <button type="submit">Пошук</button>
            </form>
        </div>

        <h2 style="text-align:center; font-weight:bold">Всі Заяви</h2>
        <div style="height: 80%; overflow-y: auto;">
            <table class="table tableborder">
                <thead>
                    <tr>
                        <th class="tableborder">
                            <p>Дата</p>
                        </th>
                        <th class="tableborder">
                            <p>Деталі</p>
                        </th>
                        <th class="tableborder">
                            <p>Область</p>
                        </th>
                        <th class="tableborder">
                            <p>Місто/Село</p>
                        </th>
                        <th class="tableborder">
                            <p>Зображення</p>
                        </th>
                        <th class="tableborder">
                            <p>Відео</p>
                        </th>
                        <th class="tableborder">
                            <p>Користувач</p>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="tableborder">
                            <td class="tableborder">
                                @Html.DisplayFor(modelItem => item.DateEvent)
                            </td>
                            <td class="tableborder">
                                <div style="width: 200px; word-wrap: break-word;">
                                    @Html.DisplayFor(modelItem => item.DescriptionEvent)
                                </div>
                            </td>
                            <td class="tableborder">
                                @Html.DisplayFor(modelItem => item.IdCityVillageNavigation.IdRegionNavigation.NameRegion)
                            </td>
                            <td class="tableborder">
                                @Html.DisplayFor(modelItem => item.IdCityVillageNavigation.NameCityVillage)
                            </td>
                            <td class="tableborder">
                                @if (item.IdImage != null)
                                {
                                    <img src="@Html.DisplayFor(modelItem => item.IdImageNavigation.ImageUrl)" class="img" style="width:130px; height:100px;">
                                }
                                else
                                {
                                    <p>-</p>
                                }
                            </td>

                            <td class="tableborder">
                                @if (item.IdVideo != null)
                                {
                                    <video width="130" height="100" controls>
                                        <source src="@Html.DisplayFor(modelItem => item.IdVideoNavigation.VideoUrl)" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                }
                                else
                                {
                                    <p>-</p>
                                }
                            </td>
                            <td class="tableborder">
                                <a href="#" class="aspforms btn" onclick="showUserInfo(@item.IdUser)">Користувач</a>
                            </td>

                            @if (item.IdStatus == 1)
                            {
                                <td class="tableborder">
                                    @Html.ActionLink("Підтвердити", "CreateViolation", new{id=item.IdRoadEvent})
                                    @Html.ActionLink("Відхилити", "RejectApplication", new{id=item.IdRoadEvent})
                                </td>
                            }
                            @if (item.IdStatus == 2)
                            {
                                <td class="tableborder">
                                    <p>Заява прийнята</p>
                                </td>
                            }
                            @if (item.IdStatus == 3)
                            {
                                <td class="tableborder">
                                    <p>Заява відхилена</p>
                                    @Html.ActionLink("Прийняти", "CreateViolation", new{id=item.IdRoadEvent})
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>

    <div class="clearfix"></div>
</body>
</html>

<script>
    function showUserInfo(userId) {
        var url = '@Url.Action("SeeUser", "Admin")?user=' + userId;
        var width = 300;
        var height = 400;
        var left = (screen.width - width) / 2;
        var top = (screen.height - height) / 2;
        window.open(url, 'User Info', 'width=' + width + ',height=' + height + ',left=' + left + ',top=' + top);
    }
    
</script>

