@model IEnumerable<RoadEventsProject.Models.Data.Violation>

@{
    ViewData["Title"] = "AllViolations";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            margin: 0;
        }

        .left-column {
            margin: 0;
            float: left;
            width: 20%;
            height: 95vh;
            background-color: black;
            color: white;
        }

        .right-column {
            margin: 0;
            float: left;
            width: 60%;
            height: 95vh;
            background-color: white;
            color: black;
        }

        .column-title {
            font-size: 24px;
            font-weight: bold;
        }

        .divider {
            height: 0.5px;
            width: 80%;
            background-color: white;
            margin: 15px;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .btn {
            display: block;
            margin-bottom: 2px;
            margin-left: 2px;
        }

        .aspforms {
            font-size: 16px;
            font-weight: bold;
            color: #919191;
            text-align: left;
        }

    </style>
</head>
<body>
    <div class="left-column">
        <div style="padding-left:25px; font-size:24px; color:white; font-weight:bold; margin-top:30px;">
            <p>Заголовок</p>
        </div>

        <div class="divider"></div>
        <a asp-area="" asp-controller="Admin" asp-action="MainView" class="btn aspforms">ГОЛОВНА</a>
        <div class="divider"></div>
        <a asp-area="" asp-controller="Admin" asp-action="AllApplications" class="btn aspforms">МІЙ ПРОФІЛЬ</a>
        <div class="divider"></div>
        <a asp-area="" asp-controller="Admin" asp-action="AllViolations" class="aspforms btn">ЗАПОВНИТИ ЗАЯВКУ</a>
        <div class="divider"></div>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="aspforms btn">ВИХІД</a>
    </div>
    <div class="right-column" style="margin-left:10%">
        <p style="text-align:center; font-weight:bold">Мої заяви</p>
        <div style="height: 90%; overflow: auto;">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <p>Статус заяви</p>
                        </th>
                        <th>
                            <p>Дата</p>
                        </th>
                        <th>
                            <p>Деталі</p>
                        </th>
                        <th>
                            <p>Область</p>
                        </th>
                        <th>
                            <p>Місто/Село</p>
                        </th>
                        <th>
                            <p>Зображення</p>
                        </th>
                        <th>
                            <p>Відео</p>
                        </th>
                        <th>
                            <p>Користувач</p>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fine)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateEvent)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdCityVillageNavigation.IdRegionNavigation.NameRegion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdCityVillageNavigation.NameCityVillage)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdDriverNavigation.IdNameNavigation.FirstName)
                                @Html.DisplayFor(modelItem => item.IdDriverNavigation.IdNameNavigation.LastName)
                                @Html.DisplayFor(modelItem => item.IdDriverNavigation.IdNameNavigation.MiddleName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdFineStatusNavigation.NameFine)
                            </td>
                            <td>
                                <!--Admin-->
                                @Html.DisplayFor(modelItem => item.IdUserNavigation.IdUser)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdVehicleNavigation.NumberCar)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>

    <div class="clearfix"></div>
</body>
