@model RoadEventsProject.Models.AllViolationsTypesModel

@{
    ViewData["Title"] = "AllViolations";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            margin: 0;
        }

        .left-column {
            margin: 0;
            float: left;
            width: 20%;
            height: 95vh;
            overflow-y: auto;
            background-color: black;
            color: white;
        }

        .right-column {
            margin: 0;
            float: left;
            width: 70%;
            height: 95vh;
            background-color: white;
            color: black;
        }

        ::-webkit-scrollbar {
            width: 10px; /* Adjust as needed */
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1; /* Light grey */
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888; /* Dark grey */
        }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #555; /* Blackish grey */
            }

        .column-title {
            font-size: 24px;
            font-weight: bold;
        }

        .divider {
            height: 0.5px;
            width: 80%;
            background-color: white;
            margin: 15px;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .btn {
            display: block;
            margin-bottom: 2px;
            margin-left: 2px;
        }

        .aspforms {
            font-size: 16px;
            font-weight: bold;
            color: #919191;
            text-align: left;
        }

        .tableborder {
            border: 1px solid #000;
        }

            .tableborder tr:nth-child(odd) {
                background-color: #d8ecf3; /* Голубий колір для парних рядків */
            }

            .tableborder tr:nth-child(even) {
                background-color: #ffffff; /* Білий колір для непарних рядків */
            }
    </style>
</head>
<body>
    <div class="left-column">
        <div style="padding-left:25px; font-size:24px; color:white; font-weight:bold; margin-top:30px;">
            <p style="color:black">Заголовок</p>
        </div>

        <div class="divider"></div>
        <a asp-area="" asp-controller="Admin" asp-action="MainView" class="btn aspforms">ГОЛОВНА</a>
        <div class="divider"></div>
        <a asp-area="" asp-controller="Admin" asp-action="AllApplications" class="btn aspforms">ВСІ ЗАЯВИ</a>
        <div class="divider"></div>
        <a asp-area="" asp-controller="Admin" asp-action="AllViolations" class="aspforms btn">ВСІ ПОРУШЕННЯ</a>
        <div class="divider"></div>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="aspforms btn">ВИХІД</a>
    </div>
    <div class="right-column" style="margin-left:5%; margin-top:10px">
        <div>
            <form asp-action="AllViolations" method="get">
            <input type="number" name="idEvent" placeholder="Enter User ID" />
            <div>
            <span class="text-danger">
                    @Html.ValidationMessage("idViolationError", new { @class = "text-danger" })
            </span>
                </div>
            <button type="submit">Пошук</button>
            </form>
        </div>

        <h2 style="text-align:center; font-weight:bold">Всі порушення</h2>
        <div style="height: 80%; overflow-y: auto">
            <table class="table tableborder">
                <thead>
                    <tr>
                        <th class="tableborder">
                            <p>Користувач</p>
                        </th>
                        <th class="tableborder">
                            <p>Id заяви</p>
                        </th>
                        <th class="tableborder">
                            <p>Дата</p>
                        </th>
                        <th class="tableborder">
                            <p>Штраф</p>
                        </th>
                        <th class="tableborder">
                            <p>Область</p>
                        </th>
                        <th class="tableborder">
                            <p>Місто/Село</p>
                        </th>
                        <th class="tableborder">
                            <p>ІПН водія</p>
                        </th>
                        <th class="tableborder">
                            <p>Id адміна</p>
                        </th>
                        <th class="tableborder">
                            <p>Номер машини</p>
                        </th>
                        <th class="tableborder">
                            <p>Типи порушень</p>
                        </th>
                    </tr>
                </thead>
                <tbody >
                    @foreach (var item in Model.Violations)
                    {
                        <tr class="tableborder">
                            <td class="tableborder">
                                @Html.DisplayFor(modelItem => item.IdRoadEventNavigation.IdUser)
                            </td>
                            <td class="tableborder">
                                @Html.DisplayFor(modelItem => item.IdRoadEvent)
                            </td>
                            <td class="tableborder">
                                @Html.DisplayFor(modelItem => item.DateEvent)
                            </td>
                            <td class="tableborder">
                                    @Html.DisplayFor(modelItem => item.Fine)
                            </td>
                            <td class ="tableborder">
                                    @Html.DisplayFor(modelItem => item.IdCityVillageNavigation.IdRegionNavigation.NameRegion)
                            </td>
                            <td class="tableborder">
                                    @Html.DisplayFor(modelItem => item.IdCityVillageNavigation.NameCityVillage)
                            </td>
                            <td class="tableborder">
                                    @Html.DisplayFor(modelItem => item.IdDriverNavigation.IpnNumber)
                            </td>
                            <td class="tableborder">
                                    @Html.DisplayFor(modelItem => item.IdUser)
                            </td>
                            <td class="tableborder">
                                    @Html.DisplayFor(modelItem => item.IdVehicleNavigation.NumberCar)
                            </td>
                            <td class="tableborder">
                                @foreach(var type in Model.Types)
                                {
                                    if(type.IdViolation == item.IdViolation)
                                    {
                                        <p>@Html.DisplayFor(modelItem => type.IdTypeNavigation.NameType) ,</p>
                                    }
                                }
                                
                                </td>
                            </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>

    <div class="clearfix"></div>
</body>
