<!--

@{
    ViewData["Title"] = "AllApplications";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            margin: 0;
        }

        .left-column {
            margin: 0;
            float: left;
            width: 20%;
            height: 95vh;
            background-color: black;
            color: white;
        }

        .right-column1 {
            margin: 0;
            float: left;
            width: 30%;
            height: 95vh;
            background-color: white;
            color: black;
        }

        .right-column2 {
            margin: 0;
            float: left;
            width: 30%;
            height: 95vh;
            background-color: white;
            color: black;
        }

        .column-title {
            font-size: 24px;
            font-weight: bold;
        }

        .divider {
            height: 0.5px;
            width: 80%;
            background-color: white;
            margin: 15px;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .btn {
            display: block;
            margin-bottom: 2px;
            margin-left: 2px;
        }

        .aspforms {
            font-size: 16px;
            font-weight: bold;
            color: #919191;
            text-align: left;
        }

    </style>
</head>
<body>
    <div class="left-column">
        <div style="padding-left:25px; font-size:24px; color:white; font-weight:bold; margin-top:30px;">
            <p>Заголовок</p>
        </div>

        <div class="divider"></div>
        <a asp-area="" asp-controller="Admin" asp-action="MainView" class="btn aspforms">ГОЛОВНА</a>
        <div class="divider"></div>
        <a asp-area="" asp-controller="Admin" asp-action="AllApplications" class="btn aspforms">МІЙ ПРОФІЛЬ</a>
        <div class="divider"></div>
        <a asp-area="" asp-controller="Admin" asp-action="AllViolations" class="aspforms btn">ЗАПОВНИТИ ЗАЯВКУ</a>
        <div class="divider"></div>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="aspforms btn">ВИХІД</a>
    </div>
    <div class="right-column1" style="margin-left:10%">
        <p>Заява</p>
        <p>Id користувача: @Model.Events.IdUser</p>
        <p>ПІБ: @Model.Events.IdUserNavigation.IdNameNavigation.LastName @Model.Events.IdUserNavigation.IdNameNavigation.FirstName @Model.Events.IdUserNavigation.IdNameNavigation.MiddleName</p>
        <p>Дата подання заяви: @Model.Events.DateEvent</p>
        <p>Область: @Model.Events.IdCityVillageNavigation.IdRegionNavigation.NameRegion</p>
        <p>Опис: @Model.Events.DescriptionEvent</p>
        @if (@Model.Events.IdImageNavigation != null)
        {
            <p>Фото</p>
            <img width="80" height="60" src="@Model.Events.IdImageNavigation.ImageUrl)" alt="Фото">
        }
        else
        {
            <p>-</p>
        }
        @if (@Model.Events.IdVideoNavigation != null)
        {
            <p>Відео</p>
            <img width="80" height="60" src="@Model.Events.IdVideoNavigation.VideoUrl)" alt="Відео">
        }
        else
        {
            <p>-</p>
        }
    </div>

    <div class="right-column2" style="margin-left:10%">
        <p>Оформлення порушення</p>
        <form asp-action="CreateViolations" method="post" enctype="multipart/form-data" class="text-border">

            

            <div class="form-group">
                <label for="DescriptionEvent">Опис:</label>
                <textarea id="DescriptionEvent" name="DescriptionEvent" class="form-control" rows="3"></textarea>
                <span asp-validation-for="DescriptionEvent" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="IdRegion">Область:</label>
                <select id="IdRegion" name="IdRegion" class="form-control">
                    <option value="">Виберіть область</option>
                    @foreach (var region in ViewBag.Regions)
                    {
                        <option value="@region.IdRegion">@region.NameRegion</option>
                    }
                </select>
                <span asp-validation-for="IdRegion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="IdCityVillage">Місто/Село:</label>
                <select id="IdCityVillage" name="IdCityVillage" class="form-control" disabled>
                    <option value="">Виберіть місто або село</option>
                </select>
                <span asp-validation-for="IdCityVillage" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="DateEvent">Дата та час події:</label>
                <input type="datetime-local" asp-for="DateEvent" id="DateEvent" name="DateEvent" class="form-control">
                <span asp-validation-for="DateEvent" class="text-danger"></span>
            </div>
            <p style="margin-top:5px">*обов'язково завантажте або відео, або фото (або два варіанти одразу)'</p>
            <button type="submit" class="btn btn-primary" style="text-align:center; margin-top:10px">Надіслати заяву</button>
            <div asp-validation-summary="All" class="text-danger"></div>
        </form>
    </div>
    <div class="clearfix"></div>
</body>
</html>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#IdRegion").change(function () {
                var regionId = $(this).val();
                if (regionId) {
                    $.ajax({
                        url: '/Event/GetCitiesVillages',
                        data: { regionId: regionId },
                        type: 'GET',
                        success: function (data) {
                            $("#IdCityVillage").prop('disabled', false);
                            $("#IdCityVillage").empty();
                            $("#IdCityVillage").append('<option value="">Select City or Village</option>');
                            $.each(data, function (index, item) {
                                $("#IdCityVillage").append('<option value="' + item.idCityVillage + '">' + item.nameCityVillage + '</option>');
                            });
                        }
                    });
                } else {
                    $("#IdCityVillage").prop('disabled', true);
                    $("#IdCityVillage").empty();
                    $("#IdCityVillage").append('<option value="">Select City or Village</option>');
                }
            });
        });

    </script>
}

<script>
    function showUserInfo(userId) {
        var url = '@Url.Action("SeeUser", "Admin")?user=' + userId;
        var width = 300;
        var height = 400;
        var left = (screen.width - width) / 2;
        var top = (screen.height - height) / 2;
        window.open(url, 'User Info', 'width=' + width + ',height=' + height + ',left=' + left + ',top=' + top);
    }
</script>-->